

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-lato text-text-dark;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}